.footer {
  position: relative;
  background: $color__black;
  z-index: 5;
  &__inner {
    @include util__inner;
    position: relative;
    padding-top: 11.458vw;
    padding-bottom: 0.2vw;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);

    @include tb-md {
      padding-top: 31.3vw;
      padding-bottom: 20vw;
    }
  }
  &__symbol {
    width: 3.75vw;
    min-width: 4.8rem;
    position: fixed;
    z-index: 50;
    left: 1.6rem;
    bottom: 1.6rem;
    mix-blend-mode: difference;
    z-index: 50;
    pointer-events: none;
  }
  &__copy {
    font-size: min(6.25vw, 12rem);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 0.8;

    @include tb-lg {
      font-size: min(5rem, 11.2vw);
    }

    &-icon {
      font-family: var(--font-script), #{$font__pretendard};
    }
  }
  &__info {
    @include util__flex(space-between, center);
    margin-top: 8.3vw;

    @include tb-md {
      text-align: center;
      align-items: stretch;
      flex-direction: column;
      margin-top: 10vw;
      gap: 2rem;
    }

    a {
      @include util__flex(center, center, 0.4rem);
    }

    &-item {
      @include util__font-size;
      font-weight: 600;
      text-transform: uppercase;

      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__year {
    font-weight: 400;
    opacity: 0.8;

    @include tb-md {
      order: 4;
    }
  }

  .ticker {
    margin-top: 1vw;
    &__item {
      font-size: max(1.5625vw, 2.4rem);
      cursor: default;
      white-space: nowrap;
      font-weight: 600;
      opacity: 0.2;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
}
