.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  &__inner {
    @include util__inner;
    padding-top: $size__page-padding;
    padding-bottom: $size__page-padding;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.6rem;

    @include tb-lg {
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;
    }
  }
  &__nav {
    @include util__flex(space-between, center);
    @include util__font-size;
    background: $color__white;
    color: $color__black;
    font-weight: 600;
    line-height: 1;

    @include tb-lg {
      font-size: 1.6rem;
    }

    &-list {
      @include util__flex(space-between, stretch);
      width: 40%;
      height: 100%;
    }
    &-item {
      @include util__flex(center, stretch);
      height: 100%;

      &-link {
        @include util__flex(stretch, center);
        padding: 0.2rem 1rem;
        position: relative;
        transition: color 0.3s;
        z-index: 3;

        &::after {
          @include util__pseudo;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s;
          background: $color__black;
          z-index: -1;
        }

        &:hover {
          color: $color__white;
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }

    &-opener {
      @extend .header__nav;
      @include util__flex(space-between, center);
      width: 100%;
      height: 100%;
      padding: 0.6rem 1rem;
      cursor: pointer;

      @include tb-lg {
        padding: 0.5rem;
      }

      &-icon {
        @include util__flex(center, center, 0.2rem, column);
        width: 2.2rem;
        height: 100%;
        position: relative;

        &::after,
        &::before {
          content: '';
          display: inline-block;
          width: 100%;
          height: 0.2rem;
          background: $color__black;
          transition: transform 0.3s;
        }

        &[data-isopen='true'] {
          &::after {
            transform: rotate(45deg) translateY(-0.3rem);
          }
          &::before {
            transform: rotate(-45deg) translateY(0.3rem);
          }
        }
      }
    }
  }

  &__logo {
    @include util__flex(flex-start, stretch);
    a {
      @include util__flex(stretch, center);
    }
  }
  &__clock {
    @include util__flex(stretch, center);
    padding: 0 1rem;
  }
}

.menu {
  $menu: &;
  @include util__get-header-height;
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-height: 100lvh;
  background: $color__black;
  top: 0;
  left: 0;
  overflow: hidden;
  transform-origin: top;

  &__inner {
    width: 100%;
    height: 100%;
    padding: $size__page-padding;
    display: flex;
    flex-direction: column;
  }
  &__list {
    padding-top: 8rem;
  }
  &__item {
    font-size: clamp(3.4rem, 5vw, 4.2rem);
    font-weight: 600;
    overflow: hidden;
    &-link {
      @include util__flex(stretch, center, 1.25rem);
      &:hover {
        #{$menu}__item-link-text::after {
          transform: scaleX(0);
        }
        #{$menu}__item-arrow {
          transform: translateX(0.2rem);
        }
      }
      &-text {
        position: relative;
        display: inline-block;
        &::after {
          @include util__pseudo(100%, 0.1rem);
          background: $color__white;
          top: unset;
          left: 0;
          bottom: 16%;
          transition: transform 0.3s;
          transform-origin: right;
        }
      }
    }
    &-arrow {
      width: clamp(4rem, 12vw, 5rem);
      margin-top: -0.2rem;
      transition: transform 0.3s;
    }
  }
  &__info {
    @include util__flex(space-between, flex-end, 3.2rem);
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 2.4rem;
    width: 50%;
    line-height: 1.3;

    @include mb-md {
      width: 100%;
    }

    &-item {
      overflow: hidden;
      a {
        @include util__flex(stretch, center, 0.5rem);
        text-decoration: underline;

        &:hover {
          text-decoration: none;

          .icon__link-inner {
            transform: translateX(0%) translateY(-50%);
          }
        }
      }
    }

    &-title {
      position: relative;
      padding-bottom: 1.4rem;
      margin-bottom: 1.4rem;
      overflow: hidden;

      &::after {
        @include util__pseudo(1.6rem, 0.3rem);
        background: $color__white;
        top: unset;
        bottom: 0;
      }

      &-inner {
        display: inline-block;
      }
    }
  }
  &__category {
    flex-grow: 1;
    flex-shrink: 1;
  }
  &__copy {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: right;
  }
}
