.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: $size__page-padding;

  &__inner {
    @include util__get-size-inner;
    @include util__flex(space-between);
    height: 8rem;
    padding: 0.8rem 0;
  }

  &__logo {
    height: 100%;
    a {
      @include util__flex(center, center);
      height: 100%;
    }
  }
}

.nav {
  &__list {
    @include util__flex(stretch, center, 1.6rem);
    height: 100%;
  }
  &__item {
    @include util__flex(stretch, center);
    height: 100%;
  }
  .button {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
