.contact {
  @include util__flex(stretch, center);
  position: relative;
  &__inner {
  }
  &__text {
    font-family: $font__archivo;
    font-size: 6vw;
    line-height: 1.15;
    text-transform: uppercase;
    text-align: center;
    color: $color__text-03;
    @include util__get-text-glow(1.6rem, rgba(255, 255, 255, 0.6));
  }
  &__button {
    $button-size: 1.5vw;
    font-size: $button-size;
    &-container {
      @include util__flex(center, center, $button-size);
      margin-top: 4rem;
    }

    .icon {
      width: $button-size;
      display: inline-flex;
    }

    .button__link {
      @include util__flex(stretch, center, 1.2vw);
      padding: 0.6rem 2.4rem;
    }
  }

  &__bg {
    @include util__get-bg-img('/image/bg08.jpg');
  }
}
