.introduce {
  @include util__flex(stretch, center);
  padding: 6rem 0;
  min-height: 70vh;
  @include tb-lg {
    min-height: unset;
  }
  &__inner {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    max-width: 83.33vw;
    margin: 0 auto;
    min-height: unset;

    @include tb-lg {
      display: block;
    }
    @include mb-md {
      max-width: unset;
    }
  }
  &__title {
    line-height: 1;
    font-size: clamp(4rem, 4.16vw, 8rem);
    font-weight: 400;

    @include mb-md {
      font-size: clamp(4rem, 11.2vw, 8rem);
    }

    &-changer {
      position: relative;
      display: inline-block;
      width: 100%;
      overflow-y: hidden;
      overflow-x: visible;
      &-item {
        &:nth-child(1) {
          display: inline-block;
        }

        &:nth-child(2) {
          position: absolute;
          top: 100%;
          left: 0;
          overflow: hidden;
        }
        &:nth-child(3) {
          position: absolute;
          top: 200%;
          left: 0;
        }
      }
    }
  }
  &__contents {
    @include util__flex(stretch, stretch, 0, column);
  }
  &__desc {
    // font-size: clamp(2rem, 1.77vw, 3.4rem);
    font-size: clamp(1.4rem, 1.77vw, 2.4rem);
    opacity: 0.4;
    line-height: 1.6;

    @include tb-lg {
      margin-top: 2.4rem;
    }
  }
  &__icon {
    &-list {
      @include util__flex(stretch, center, clamp(0.4rem, 0.625vw, 0.83vw));
      line-height: 1;
      margin-top: max(2.4rem, 3.2vw);
      flex-wrap: wrap;

      @include tb-md {
        gap: 1.2rem;
        margin-top: 3.2rem;
      }
    }
    &-item {
      width: clamp(2.4rem, 2.08vw, 6rem);
      filter: grayscale(1);
      transition: filter 0.3s;
      overflow: hidden;

      svg {
        transform: translateY(150%);
      }

      &:hover {
        filter: grayscale(0);
      }
      // @include tb-md {
      //   width: 2.8rem;
      // }
    }
  }
}
