.project {
  &__inner {
    padding: 10rem 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.6rem;
    margin-top: 4.8rem;
  }

  &__item {
    &-img-container {
      width: 100%;
      margin: 0 auto;
      position: relative;
      padding-bottom: 50%;
      background: rgba(20, 20, 20);
      border-radius: 1.2rem;
      // &::after {
      //   content: '';
      //   border: 1px solid #fff;
      //   display: block;
      //   position: absolute;
      //   width: 100%;
      //   padding-bottom: 100%;
      // }
    }
    &-text-container {
      z-index: 1;
      top: -4rem;
    }
    &-title {
      font-size: 3.2rem;
    }
    &-desc {
      font-size: 1.8rem;
      margin-top: 0.8rem;
    }
  }
}
