.project {
  &__inner {
    padding: 10rem 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.6rem;
    margin-top: 4.8rem;
  }

  &__item {
    position: relative;
    &-img-container {
      width: 90%;
      margin: 0 auto;
      position: relative;
      padding-bottom: 60%;
      transform-origin: bottom;

      img {
        object-fit: contain;
        width: 100%;
        margin: 0 auto;
        border-radius: 1.6rem;
        overflow: hidden;
      }
    }
    &-img--blur {
      position: absolute;
      filter: blur(6.4rem) brightness(1);
      top: 0;
      z-index: -1;
    }
    &-text-container {
      z-index: 1;
      // top: 85%;
      // position: absolute;
      width: 100%;
      margin-top: -10%;
    }
    &-title {
      @include util__get-text-shadow();
      font-size: 2.8rem;
    }
    &-desc {
      font-size: 1.6rem;
      margin-top: 0.8rem;
    }

    &-tag {
      &-list {
        @include util__flex(stretch, center, 1.2rem);
        margin-top: 1.8rem;
      }
    }
  }
}

@media (max-width: $size__tb-md) {
  .project {
    &__list {
      grid-template-columns: 1fr;
      gap: 12rem;
    }
  }
}
