.skill {
  position: relative;
  &__inner {
    padding: 10rem 0;
  }
  &__title {
    flex-flow: row-reverse;
  }

  &__list {
    @include util__flex(stretch, flex-start, 1.6rem);
  }

  &__bg {
    width: 100%;
    &::after {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: url('/image/bg03.jpg');
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.3;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__icon {
    // top: -50%;
    // right: 0;
    // position: absolute;
    .badge__link {
      padding: 0.4rem;
    }
    &-inner {
      display: inline-block;
      width: 4.8rem;
      height: 4.8rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__text {
    font-size: 1.8rem;
  }

  &__item {
    &-title {
      font-size: 2.4rem;
      &-container {
        @include util__flex(stretch, center, 1.6rem);
      }
    }
    &-desc {
      font-size: 1.6rem;
      margin-top: 2rem;
    }
  }
}
