.visual {
  @include util__flex(stretch, center);
  // &::after {
  //   @include util__get-bg-img('/image/bg04.jpg');
  // }
  &__text {
    font-family: $font__archivo;
    font-size: 4.8vw;
    line-height: 1.25;
    text-transform: uppercase;
    @include util__get-text-glow(2.8rem, rgba(255, 255, 255, 0.6));
  }
  &__ticker {
    width: 45vw;
    margin-top: 4rem;
    &-list {
      gap: 2vw;
    }
  }
  &__badge {
    $badgeColor: rgb(39, 221, 109);

    &.badge {
      @include util__button($badgeColor);
      font-size: 1.8rem;
    }
    .badge__dot {
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 100%;
      background: $badgeColor;
      position: relative;
      &-bg {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: rgba(39, 221, 109, 0.3);
        // opacity: 0;
        top: 0;
        left: 0;
        transform-origin: center;
      }
    }
    .badge__link {
      @include util__get-text-glow(0.8rem, rgba(39, 221, 109, 0.8));
      background: rgb(20, 20, 20);
      gap: 1.2rem;
    }
  }
}

.skill-icon {
  width: 3.2vw;
  height: 3.2vw;
  max-width: 4rem;
  max-height: 4rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: $size__tb-md) {
  .visual {
    &__badge {
      &.badge {
        font-size: 1.4rem;
      }
    }
    &__text {
      font-size: max(7vw, 3.2rem);
      margin-top: 0.8rem;
    }
    &__ticker {
      width: 70vw;
      &-list {
        gap: 3vw;
      }
    }
    .skill {
      &-icon {
        width: 8vw;
        height: 8vw;
      }
    }
  }
}

@media (max-width: $size__mb-md) {
  .visual {
    &__ticker {
      width: 100%;
    }
    .skill {
      &-icon {
        width: 8vw;
        height: 8vw;
      }
    }
  }
}
