.sound-only {
  font-size: 0;
  position: absolute;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.pc-only {
  @include tb-lg {
    display: none !important;
  }
}
.tb-only {
  @media (min-width: 991px) {
    display: none !important;
  }
}

.sc {
  $sc: &;
  &__inner {
    @include util__inner;
    min-height: 100vh;
    min-height: 100svh;
  }

  &[data-autoheight='true'] {
    #{sc}__inner {
      min-height: unset;
    }
  }
}

.logo {
  width: 12.4rem;
  @media (max-width: $size__tb-md) {
    width: max(20vw, 10rem);
  }
}

.ticker {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 30%,
    rgb(0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  &__list {
    @include util__flex(center);
    width: fit-content;
    gap: 0 3.2rem;
  }
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.button {
  @include util__button;
}

.badge {
  @include util__button;
  display: inline-block;

  &__link {
    padding: 0.2rem 1.4rem;
  }
}

.social {
  @include util__flex(stretch, center, 1.6rem);
  &__item {
    @include util__flex(center, center);

    .button__link {
      padding: 1.2rem;

      &:hover {
        .social__icon::after {
          opacity: 0.6;
        }
      }
    }
  }
  &__icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color__text-01;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 100%;
      opacity: 0;
      filter: blur(0.8rem);
      will-change: opacity;
      transition: opacity 0.3s;
    }

    @media (max-width: $size__mb-md) {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

.glassbox {
  @include util__get-box-glass();
}

.tag {
  @extend .button__link;
  padding: 0.2rem 1rem;
}

.icon {
  &__link {
    width: 1rem;
    height: 1rem;
    line-height: 1;
    overflow: hidden;
    &-inner {
      width: 100%;
      height: 100%;
      position: relative;
      transition: transform 0.3s;
      transform: translateX(-100%) translateY(50%);
    }
    &-item {
      position: absolute;
      width: 100%;
      height: 100%;
      trans &:nth-child(1) {
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        top: -100%;
        left: 100%;
      }
    }
  }

  &__down {
    width: 0.6rem;
    overflow: hidden;
    position: relative;
    @include tb-lg {
      width: 0.8rem;
    }

    &-inner {
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateY(-100%);
    }
    &-item {
      &:nth-child(2) {
        width: 100%;
        position: absolute;
        top: 100%;
      }
    }
  }
}
