@mixin pc-lg {
  @media (max-width: $size__pc-lg) {
    @content;
  }
}
@mixin pc-md {
  @media (max-width: $size__pc-md) {
    @content;
  }
}

@mixin tb-lg {
  @media (max-width: $size__tb-lg) {
    @content;
  }
}

@mixin tb-md {
  @media (max-width: $size__tb-md) {
    @content;
  }
}

@mixin mb-md {
  @media (max-width: $size__mb-md) {
    @content;
  }
}

@mixin util__flex($jc: flex-start, $ai: stretch, $gap: 0, $dir: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-direction: $dir;
}

@mixin util__inner {
  padding: $size__page-padding;

  // @include pc-lg {
  //   padding: 0 7.2rem;
  // }

  // @include pc-md {
  //   padding: 0 6rem;
  // }

  // @include tb-md {
  //   padding: 0 2.4rem;
  // }
}

@mixin util__flex($jc: flex-start, $ai: stretch, $gap: 0, $dir: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-direction: $dir;
}

@mixin util__get-size-inner() {
  width: 100%;
  max-width: $size__max-inner;
  margin: 0 auto;
}

@mixin util__get-page-padding {
  padding: 0 $size__page-padding;
  @media (max-width: $size__tb-md) {
    padding: 0 4rem;
  }
  @media (max-width: $size__mb-md) {
    padding: 0 2.4rem;
  }
}

@function fn__get-header-height($screen: 1024) {
  $headerHeight: null;
  $headerHeight: 5.5;

  @if ($screen < 990) {
    $headerHeight: 6.2;
  }

  @return #{$headerHeight}rem;
}
@mixin util__get-header-height($bottom: false) {
  padding-top: fn__get-header-height();

  @if $bottom == 'bottom' {
    padding-bottom: fn__get-header-height();
  }
}

@mixin util__pseudo($width: 100%, $height: 100%) {
  content: '';
  display: block;
  position: absolute;
  width: $width;
  height: $height;
  left: 0;
  top: 0;
}

@mixin util__center-transform {
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

/* 수정 전 코드*/

@mixin util__get-text-glow($size: 2.5rem, $color: rgba(255, 255, 255, 0.4)) {
  text-shadow: 0 0 $size $color;
}

@mixin util__get-box-glow($size: 2.5rem, $color: rgba(255, 255, 255, 0.4)) {
  box-shadow: 0 0 $size $color;
}

@mixin util__get-text-shadow($size: 0.8rem, $color: rgba(0, 0, 0, 0.5)) {
  text-shadow: 0 0 $size $color;
}

@mixin util__button(
  $borderColor: rgba(255, 255, 255, 1),
  $bgColor: rgba(30, 30, 35, 1),
  $fontSize: 1.4rem,
  $padding: 0.6rem 1.4rem
) {
  display: inline-block;
  border-radius: 0.8rem;
  font-size: $fontSize;
  padding: 0.1rem;
  position: relative;
  overflow: hidden;
  font-weight: 500;

  &__link {
    @include util__flex(stretch, center);
    height: 100%;
    border-radius: 0.8rem;
    padding: $padding;
    background-color: $bgColor;
    position: relative;
    z-index: 2;
    border: 0.1rem solid rgba(255, 255, 255, 0.05);
    cursor: pointer;

    &:focus {
      outline: auto;
    }
  }

  & .glow-border {
    border-radius: 10rem;
    opacity: 0.95;
    background: conic-gradient(
      from 0deg at 50% 50%,
      rgba(255, 255, 255, 0) 0deg,
      rgba(217, 217, 217, 0) 176.757deg,
      $borderColor 223.784deg,
      rgba(194, 194, 194, 0) 274.054deg,
      rgba(171, 171, 171, 0) 360deg
    );
    position: absolute;
    filter: blur(1rem);
    inset: -120%;
    z-index: -1;
    transform-origin: center;
    &-container {
      z-index: -1;
    }
  }
}

@mixin util__get-box-glass($padding: 2.4rem, $radius: 1.6rem) {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1.4rem);
  padding: $padding;
  border-radius: $radius;
  position: relative;
  border: 0.1rem solid rgba(255, 255, 255, 0.08);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.6rem 1rem -0.4rem,
    rgba(0, 0, 0, 0.15) 0 0.2rem 0.4rem -0.4rem,
    rgba(0, 0, 0, 0.3) 0 1rem 1.8rem -0.1rem,
    rgba(0, 0, 0, 0.4) 0 -0.1rem 0.4rem 0 inset;
}

@mixin util__get-bg-img($url) {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(#{$url});
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
